spring:
  # thymeleaf ??
  thymeleaf:
    # ????
    cache: false
  # ?????
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/seckill?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: root
    password: root
    # ?????
    hikari:
      pool-name: DataHikariCP
      # ???????
      minimum-idle: 5
      # ??????????
      idle-timeout: 1800000
      # ?????
      maximum-pool-size: 10
      # ????
      auto-commit: true
      # ???????0??????
      max-lifetime: 1800000
      # ?????????30000
      connection-timeout: 30000
      # ????????
      connection-test-query: SELECT 1

# Mybatis-plus ??
mybatis-plus:
  # ?? Mapper.xml ??
  mapper-locations: classpath*:/mapper/*Mapper.xml
  # ?? MyBatis ??????
  type-aliases-package: com.haxrdz.seckill.pojo

logging:
  level:
    com.haxrdz.seckill.mapper: debug
