spring:
  # thymeleaf ??
  thymeleaf:
    # ????
    cache: false
  # ?????
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/seckill?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: root
    password: root
    # ?????
    hikari:
      pool-name: DataHikariCP
      # ???????
      minimum-idle: 5
      # ??????????
      idle-timeout: 1800000
      # ?????
      maximum-pool-size: 10
      # ????
      auto-commit: true
      # ???????0??????
      max-lifetime: 1800000
      # ?????????30000
      connection-timeout: 30000
      # ????????
      connection-test-query: SELECT 1

  redis:
    # 服务器地址
    host: 127.0.0.1
    # 端口
    port: 6379
    # 默认数据库（共16个）
    database: 0
    # 超时时间
    timeout: 10000ms
    lettuce:
      pool:
        # 最大连接数，默认8
        max-active: 8
        # 最大连接阻塞等待时间，
        max-wait: 10000ms
        # 最大空闲连接
        max-idle: 200
        # 最小空闲连接
        min-idle: 5

# Mybatis-plus ??
mybatis-plus:
  # ?? Mapper.xml ??
  mapper-locations: classpath:mapper/*.xml
  # ?? MyBatis ??????
  type-aliases-package: com.haxrdz.seckill.pojo

logging:
  level:
    com.haxrdz.seckill.mapper: debug
